@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PixelArt Vectorizer</h1>
    <h4>PixelArt Upload</h4>
    <form asp-controller="Home" asp-action="SingleFile"
          enctype="multipart/form-data" method="post">
        <input type="file" name="file" />
        <button type="submit">Submit</button>
    </form>
    <div class="pixelart-image">
        <img src="@ViewData["FileLocation"]"  />
    </div>
</div>